.js-enabled .widget-images {
	display: none;
}

.outerwrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;

	h2,p {
		margin: 10px 10px 0 10px;
		padding: 0;
	}

	.key {
		padding: 0px 0px 0px 9px;
		border-left: 20px solid #cf071d;
		margin: 10px;
	}


	input {
		width: 630px;
	}

	.widget-images {
		p {
			margin: 0px 0px 10px 10px;
		}

		ul {
			padding-left: 0;
		}

		li {
			list-style: none;
		}
	}
} // outerwrapper

