.html-widget {
  border: 1px solid #ececec;
  background-color: #ececec;
}

.html-widget .credit {
  padding: 5px 5px 0;
  margin-bottom: 0;
}

.html-widget .caption {
  padding: 5px 5px 4px;
  margin-bottom: 10px;
}

.outerwrapper {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.outerwrapper h2 {
  margin: 0;
  padding: 15px 2.5% 10px;
  text-transform: uppercase;
}
.outerwrapper h3 {
  margin: 0;
  padding: 10px 2.5% 5px;
}
.outerwrapper p {
  margin: 0;
  padding: 0 2.5% 10px;
}
.outerwrapper input {
  width: 100%;
}
.outerwrapper canvas {
  cursor: col-resize;
  transition: opacity 0.8s;
  opacity: 1;
}
.outerwrapper .canvasInvisible {
  opacity: 0;
}
.outerwrapper .widget-images ul {
  padding-left: 0;
}
.outerwrapper .widget-images li {
  list-style: none;
}
.outerwrapper .widget-selector {
  padding: 10px 2.5% 20px;
  margin: 0;
}
.outerwrapper .widget-canvas {
  position: relative;
  margin: 0 2.5%;
}
