.js-enabled .widget-images {
  display: none;
}

.outerwrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outerwrapper h2, .outerwrapper p {
  margin: 10px 10px 0 10px;
  padding: 0;
}
.outerwrapper .key {
  padding: 0px 0px 0px 9px;
  border-left: 20px solid #cf071d;
  margin: 10px;
}
.outerwrapper input {
  width: 630px;
}
.outerwrapper .widget-images p {
  margin: 0px 0px 10px 10px;
}
.outerwrapper .widget-images ul {
  padding-left: 0;
}
.outerwrapper .widget-images li {
  list-style: none;
}
